# Домашняя работа 1
## Задача 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [14]:
def total_fruits(**kwargs:int) -> int:
    return sum(kwargs.values())

total_fruits(banana = 5, mango = 7, apple = 8, orange = 10)

30

## Задача 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.<br> Удалите такие значения из списка и посчитайте суммарные затраты.  
Используйте list comprehensions

In [15]:
list_of_costs = [100, 125, -90, 345, 655, -1, 0, 200]

def cost_amount(lst: list)->int:
    return sum([i for i in lst if i >0])

cost_amount(list_of_costs)

1425

## Задача 3
Даны два списка.<br>
Дата покупки:

In [16]:
date_of_cost = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам:

In [17]:
sum_of_cost =[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 3.1 Найдите, какая выручка у компании в ноябре

In [21]:
def sales_in_month (lst1: list, lst2: list, m : int) -> int:             # m - месяц, в котором необходимо посчитать выручку
    sales_book = {lst1[i]:lst2[i] for i in range(len(lst1))}
    return sum([sales_book[key] for key in sales_book.keys() if key.split('-')[1] == str(m)])

In [22]:
sales_in_month(date_of_cost, sum_of_cost, 11)

15239

### 3.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

In [24]:
def sales_in_year (lst1: list, lst2: list) -> int:
    return {i:sales_in_month (lst1, lst2, i) for i in range(1,13)}

In [25]:
sales_in_year(date_of_cost, sum_of_cost)

{1: 0,
 2: 0,
 3: 0,
 4: 0,
 5: 0,
 6: 0,
 7: 0,
 8: 0,
 9: 0,
 10: 22906,
 11: 15239,
 12: 38860}